<md-whiteframe ng-class="{shake: loginFailed}" id="login-form" ng-controller="LoginController" class="md-whiteframe-z1 animated" layout layout-align="center center">
   <form ng-submit="login()" class="form" novalidate>
      <h2>Sign In</h2>

      <md-input-container>
        <label for="login-username">Username</label>
        <input type="text" ng-model="credential.username" required="" id="login-username" class="md-input">
      </md-input-container>

      <md-input-container>
        <label for="login-password">Password</label>
        <input type="text" ng-model="credential.password" required="" id="login-password" class="md-input">
      </md-input-container>

        <md-button class="md-raised md-primary">Login</md-button>
    </form>
</md-whiteframe>
